html,
body {
    height: 100%;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif, monospace;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.error {
    background-color: rgba(18, 192, 221, 0.1);
    border: 1px solid #12c0dd;
    padding: 30px;
}

.error__title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: clamp(32px, 5vw, 60px);
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 30px;
}

.error__desc {
    font-size: clamp(14px, 4vw, 26px);
    line-height: 1.5;
}

.error__link {
    display: block;
    max-width: clamp(296px, 30vw, 347px);
    text-decoration: none;
    color: #ffffff;
    font-size: clamp(16px, 1vw, 20px);
    text-align: center;
    background-color: #12c0dd;
    text-transform: uppercase;
    padding: 20px 0;
}
